/* @import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,700;1,500&family=Dancing+Script:wght@700&family=Poppins:ital,wght@0,400;0,500;0,700;1,200;1,400&family=Press+Start+2P&family=Roboto:wght@400;500;700;900&display=swap"); */

:root {
  /* Colors */
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navyblu-emodal: rgba(46, 47, 66, 0.4);
  /* --grey: rgba(46, 47, 66, 0.7); */
  --white: #ffffff;
  --dairy: #fcfcfc;
  --accent-color: #2196f3;

  /* Fonts */
  /* --header-1: 700 56px/60px "Roboto", sans-serif;
  --header-2: 700 36px/40px "Roboto", sans-serif;
  --header-3: 500 20px/24px "Roboto", sans-serif;
  --body: 400 16px/24px "Roboto", sans-serif;
  --body-medium: 500 16px/24px "Roboto", sans-serif;
  --button-text: 500 16px/24px "Roboto", sans-serif;
  --small-text: 400 12px/14px "Roboto", sans-serif;
  --link-text: 400 12px/16px "Roboto", sans-serif; */

  /* Effects */
}
/* CSS RESET */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;

  @media screen and (min-width: 1158px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.portfolio-section {
  padding-top: 48px;
  /* padding-bottom: 48px; */

  @media screen and (min-width: 768px) {
    padding-top: 64px;
    /* padding-bottom: 96px; */
  }

  @media screen and (min-width: 1158px) {
    padding-top: 100px;
    /* padding-bottom: 120px; */
  }
}
/* END OF CSS RESET */

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  font-size: 16px;
  letter-spacing: 0.03px;
  overflow-x: hidden;
}

.container {
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1158px) {
    width: 1158px;
  }
}
.page-header {
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    padding: 16px;
    height: 72px;
  }
}

.navigation {
  display: flex;
  align-items: center;
}
.nav-menu-list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 93px;
  }
}
.nav-menu-item {
  display: inline-flex;
  margin-right: 40px;
}

.contacts-menu-list {
  display: none;
  @media screen and (min-width: 768px) {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  @media screen and (min-width: 1158px) {
    flex-direction: row;
    gap: 40px;
  }
}

.nav-menu-link {
  text-decoration: none;
  color: var(--navyblue);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .nav-menu-item:not(:last-child),
.contacts-menu-item:not(:last-child) {
  margin-right: 50px;
} */
.contacts-menu-link {
  @media screen and (min-width: 768px) {
    display: flex;
    color: var(--slate);
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.48px;
    font-weight: 400;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: 1158px) {
    font-size: 16px;
  }
}
.logo-link {
  display: flex;
  text-decoration: none;
  font-size: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
}

.logo-link > span {
  font-size: 18px;
}

.logo {
  color: var(--iris, #4d5ae5);
}

.studio {
  color: var(--navyblue, #2e2f42);
}

.nav-menu-link:hover,
.nav-menu-link:focus,
.nav-menu-link.current,
.contacts-menu-link:hover,
.contacts-menu-link:focus {
  color: var(--iris);
}
.nav-menu-link.current {
  position: relative;
  color: var(--ocean);
}
.nav-menu-link.current::after {
  content: "";
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  border: 2px solid var(--ocean);
}
/* SECTION 1 */
.hero {
  background: linear-gradient(
      to right,
      var(--grey, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7))
    ),
    url(../images/hero-m.jpg);

  display: flex;
  background-size: cover;
  justify-content: center;
  padding-top: 112px;
  padding-bottom: 112px;

  margin-left: auto;
  margin-right: auto;

  /* MOBILE 320PX 2X */
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2ddpx) {
    background: linear-gradient(
        to right,
        var(--grey, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7))
      ),
      url(../images/hero-m@2x.jpg);
    background-size: cover;
  }

  /* TABLET */
  @media screen and (min-width: 768px) {
    background: linear-gradient(
        to right,
        var(--grey, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7))
      ),
      url(../images/hero-t.jpg);
    background-size: cover;

    /* TABLET 2X */
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2ddpx) {
      background-image: linear-gradient(
          to right,
          var(--grey, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7))
        ),
        url(../images/hero-t@2x.jpg);
    }
  }
  /* DESKTOP */
  @media screen and (min-width: 1158px) {
    background: linear-gradient(
        to right,
        var(--grey, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7))
      ),
      url(../images/hero-d.jpg);

    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;

    /* DESKTOP 2X */
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2ddpx) {
      background: linear-gradient(
          to right,
          var(--grey, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7))
        ),
        url(../images/hero-d@2x.jpg);
    }
  }
}
.hero-container {
  text-align: center;
}
.hero-title {
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.04em;
  color: var(--white);
  font-weight: 700;
  margin-bottom: 72px;
  font-size: 36px;
  text-transform: capitalize;

  @media screen and (min-width: 768px) {
    text-transform: none;
    font-size: 56px;
  }
}

.button {
  border-color: transparent;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.button.primary {
  background: var(--iris, #4d5ae5);
  color: var(--white);
  /* line-height: 1.87; */
  letter-spacing: 0.06em;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--ocean);
}

/*MODAL WINDOW*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  padding: 72px 24px 24px 24px;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  /* width: 408px; */
  width: 100%;

  background-color: var(--white);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.close-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  padding: 0;

  width: 24px;
  height: 24px;
  background-color: var(--cornflower);
  color: var(--navyblue);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  fill: currentColor;
}

.close-modal:hover,
.close-modal:focus {
  color: var(--white);
  background-color: var(--ocean);
}

.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

/* START FORM-MODAL */

.form-field {
  position: relative;
  display: block;

  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--navyblue);
  margin-bottom: 16px;
  margin-top: 32px;
}
.form-input,
.form-tetxarea {
  outline: none;
  color: var(--navyblue);
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  display: block;
  width: 100%;
  margin: 0 0 29px 0;
  padding: 11px 16px 11px 40px;
  line-height: 0.87;
  letter-spacing: 0.01em;
  transition: border-color 250ms ease-in-out;
}
.form-textarea {
  width: 100%;
  border-radius: 4px;
  padding-top: 8px;
  padding-left: 10px;
  resize: none;
  outline: none;
  font-size: 12px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-title {
  display: flex;
  font-size: 16px;
  justify-content: center;
  margin-bottom: 16px;
}
.form-label {
  color: var(--lightslate);
  font-size: 12px;
  font-weight: 400;
  top: -18px;
  line-height: 14px;
  letter-spacing: 0.48px;
  position: absolute;
}

.form-input:hover,
.form-input:focus {
  border: 1px solid var(--iris);
}
.form-input:hover + .icon,
.form-input:focus + .icon {
  fill: var(--iris);
}
.form-field .icon {
  position: absolute;
  fill: var(--navyblue);
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:hover,
.form-textarea:focus {
  border: 1px solid var(--iris);
}
/* CHECKMARK */
.agree-check {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.agree-check .form-discription {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  color: var(--lightslate);
  line-height: 1.1;
  margin-left: 8px;
}
.agree-check .checkmark {
  appearance: none;
}
.agree-check .icon {
  width: 16px;
  height: 16px;
  fill: none;
  border: 1px solid var(--lightslate);
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.agree-check .checkmark:checked + .icon {
  background-color: var(--ocean);
  border-color: var(--ocean);
  fill: var(--white);
  outline: none;
}

.policy {
  color: var(--iris);
  margin-left: 3px;
}
.policy:hover,
.policy:focus {
  color: var(--ocean);
  text-decoration-color: rgba(0, 0, 255, 0);
}
.button-center {
  width: 169px;
  height: 56px;
  padding: 16px 32px;
  background-color: var(--iris);
  border: var(--navyblue);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-center:hover,
.button-center:focus {
  background-color: var(--ocean);
}
.button-center {
  display: block;
  margin: auto;
  margin-top: 24px;
}

/* SECTION 2 BENEFITS */
.benefits {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;

  margin-left: -24px;
  @media screen and (min-width: 768px) {
    gap: 0;
  }
}

.benefits-item {
  width: 100%;
  margin-left: 24px;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: 1158px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}
.benefits-icon {
  display: none;

  @media screen and (min-width: 1158px) {
    border-radius: 4px;
    background: var(--cloud, #f4f4fd);
    padding: 24px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.benefits-title {
  color: var(--navyblue);
  line-height: 1.14;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  /* margin-top: 72px; */

  @media screen and (min-width: 768px) {
    text-align: start;
  }
  @media screen and (min-width: 1158px) {
    font-weight: 500;
    font-size: 20px;
  }
}

.benefits-description {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  align-items: flex-start;
  margin-bottom: 0px;

  @media screen and (min-width: 768px) {
    margin-bottom: 72px;
  }

  @media screen and (min-width: 1158px) {
    width: 264px;
    margin-bottom: auto;
    font-weight: 400;
  }
}

.section.no-top-padding {
  display: none;

  @media screen and (min-width: 1158px) {
    display: flex;
    padding-top: 0;
  }
}
.section-title {
  font-size: 36px;
  line-height: 1.17;
  color: var(--navyblue);
  text-align: center;
  margin-bottom: 50px;
}

.what-we-do-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.bg-team {
  background-color: var(--cloud);
}

.team-list {
  display: flex;
  gap: 72px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    /* gap: 0; */
    row-gap: 64px;
    column-gap: 0;
  }
}

.team-item {
  width: 264px;
  gap: 24px;
  padding-bottom: 30px;
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.12);

  @media screen and (min-width: 768px) {
    /* flex-basis: calc(100% / 2 - 30px); */
    margin-left: 24px;
    /* margin-top: 30px; */
  }
  @media screen and (min-width: 1158px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team-name,
.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-name {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-position {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
}
.social-team {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  background-color: var(--iris);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: currentColor;
}
.social-icon-link:hover,
.social-icon-link:focus {
  background-color: var(--ocean);
}
/* PARTNERS */
.partners {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 16px;

  row-gap: 72px;
  @media screen and (min-width: 428px) {
    flex-direction: row;
  }
  @media screen and (min-width: 768px) {
    column-gap: 24px;
  }
}

.partners-item {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 552px;
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
    row-gap: 72px;
    column-gap: 16px;
  }
  @media screen and (min-width: 1158px) {
    flex-basis: calc(100% / 6 - 30px);
  } */
  width: 168px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners-link {
  width: 190px;
  height: 88px;
  color: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 168px;
  }
}
.partners-icon {
  width: 104px;
  height: 56px;
  fill: currentColor;
}
.partners-link:hover,
.partners-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}
/* FOOTER */
.page-footer {
  background-color: var(--navyblue);
  width: 100%;
  height: 664px;
  flex-shrink: 0;
  padding: 96px 0;

  @media screen and (min-width: 768px) {
    height: 456px;
  }
  @media screen and (min-width: 1158px) {
    height: 312px;
  }
}

.studio-2 {
  color: var(--white);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    flex-wrap: wrap;
    padding-left: 108px;
  }

  @media screen and (min-width: 1158px) {
    margin: 0 auto;
    padding: 0;
    width: 1158px;
  }
}
.footer-address {
  display: flex;
  flex-direction: column;
  width: 268px;
  margin-bottom: 72px;

  @media screen and (min-width: 768px) {
    width: 264px;
    margin-left: 0;

    text-align: left;
  }
  @media screen and (min-width: 1158px) {
    margin: 0 auto;
  }
}
.footer-address .logo-link {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }
}
.footer-description {
  width: 268px;
  color: var(--cloud);
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;

  align-items: flex-start;

  @media screen and (min-width: 768px) {
    width: 264px;
  }
}
.footer-social-box {
  width: 208px;
  height: 80px;

  @media screen and (min-width: 768px) {
    margin-left: 24px;
  }

  @media screen and (min-width: 1158px) {
    margin-left: 120px;
  }
}

.footer-heading {
  color: var(--white);
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.social-footer {
  display: flex;
  justify-content: center;
  gap: 16px;

  @media screen and (min-width: 768px) {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.social-footer .link:hover,
.social-footer .link:focus {
  background-color: var(--green);
}

/* FOOTER SECTION 3 */
.footer-form {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 453px;
    height: 80px;
    padding: 0;
  }
  @media screen and (min-width: 1158px) {
    margin-left: 80px;
  }
}

.footer-input {
  width: 100%;
  height: 40px;
  outline: none;
  border-radius: 4px;
  font-size: 12px;
  background: transparent;
  border: 1px solid var(--white);
  box-shadow: "0px 4px 4px 0px rgba(0, 0, 0, 0.15)";
  padding: 8px 16px;

  color: var(--white);
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    width: 264px;
    margin-bottom: 0;
  }
}
.footer-button {
  text-align: center;

  @media screen and (min-width: 768px) {
    display: inline-flex;
  }
}
.footer-address-button {
  display: inline-flex;
  padding: 8px 24px;
  border: none;

  font-weight: 500;
  font-size: 16px;
  gap: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 40px;
  background: var(--iris, #4d5ae5);
  color: var(--white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  @media screen and (min-width: 768px) {
    margin-left: 20px;
  }
}
.button-icon {
  fill: currentColor;
}

/* START PORTFOLIO PAGE */
.filters {
  display: flex;

  column-gap: 24px;
  row-gap: 16px;
  flex-wrap: wrap;
  align-items: flex-start;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

/* .filters .space + .space {
  margin-left: 8px;
} */

.button.filter {
  background: var(--cloud);
  color: var(--iris);
  font-weight: 500;
  line-height: 1.62;
  padding: 8px 16px;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1158px) {
    padding: 12px 24px;
    justify-content: center;
  }
}

.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background-color: var(--ocean);
  color: var(--cloud);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0 0 0 0.12);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
  padding-top: 48px;
  padding-bottom: 48px;

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
    padding-top: 64px;
    padding-bottom: 96px;
  }

  @media screen and (min-width: 1158px) {
    padding-top: 72px;
    padding-bottom: 120px;
  }
}

.project-card {
  width: 290px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 428px) {
    width: 396px;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    width: 356px;
    margin-right: 24px;
  }

  @media screen and (min-width: 1158px) {
    flex-basis: calc(100% / 3 - 30px);
    display: flex;
    width: 360px;
  }
}

.project-card:hover,
.project-card:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.12);
}
.project-cover-wrap {
  position: relative;
  overflow: hidden;
}
.project-cover-text {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 40px;
  font-size: 16px;
  color: var(--white);
  background-color: var(--iris);
  transform: translateY(101%);
  transition: transform 250ms ease-in-out;
}
.project-card:hover .project-cover-text {
  transform: translateY(0);
}
.substrate {
  width: 100%;
  padding: 20px 16px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.project .name {
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--navyblue);
  margin-bottom: 4px;
}

.project .type {
  color: var(--slate);
  font-weight: 400;
  line-height: 1.87;
}
/* Hamburger Menu Open */
.js-open-menu {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-left: auto;
  padding: 0px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  color: var(--navyblue);

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-icon {
  fill: currentColor;
}
.js-close-menu {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;

  padding: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  color: var(--navyblue);
  flex-shrink: 0;
}

/* Hamburger Menu Navigations and Close Icon */
.menu-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 0 40px 40px;
  background-color: var(--white);
  z-index: 200;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

/* Mobile Navigation */
.mob-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}
.mob-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.mob-nav-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mob-nav-menu-item {
  /* margin-bottom: 32px; */
}

.mob-nav-menu-link {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  gap: 40px;
  letter-spacing: 0.72px;
  color: var(--navyblue);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-nav-menu-link:hover,
.mob-nav-menu-link:focus,
.mob-nav-menu-link.current {
  color: var(--ocean);
}
.mob-contacts-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}
.mob-contacts-menu-list {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 40px;
}
.mob-contacts-menu-item {
  /* address doesn't inherit font style */
  /* display: inline-flex;
  flex-direction: column;
  align-items: flex-start; */
}

.mob-contacts-menu-phone-link {
  /* Link tags doesn't inherit colors */

  color: var(--iris);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.72px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and(min-width:428px) {
    font-size: 36px;
  }
}
.mob-contacts-menu-email-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.mob-contacts-menu-email-link:hover,
.mob-contacts-menu-email-link:focus,
.mob-contacts-menu-phone-link:hover,
.mob-contacts-menu-phone-link:focus {
  color: var(--iris);
}

/* Mobile Socials */
.mob-social-icon-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 35px;
  margin-top: 48px;

  @media screen and(min-width:428px) {
    width: 328px;
    column-gap: 56px;
    background-color: #2196f3;
  }
}

.mob-social-icon-item {
  width: 40px;
  height: 40px;
}

.mob-social-icon-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--white);
  background-color: var(--iris);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-social-icon-link:hover,
.mob-social-icon-link:focus {
  background-color: var(--ocean);
}

.mob-social-icon {
  fill: currentColor;
}
